/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
  }

  .logo-image{
      position: relative;
      padding: 10px;
  }

  .formsection{
      padding: 20px 0px 20px;
  }

  footer{
      position: fixed;
      bottom: 0;
      width: 100%;
      color: #ffffff;
      background-color: rgb(214, 129, 31);
      z-index: 2;
  }

  .footermessage a:link, a:visited {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(214, 129, 31);
  }
  
  .dropdown {
    justify-content: center;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 36px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 100%;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    transition-duration: 0.4s;
    background-color: rgb(128, 76, 17);
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(214, 129, 31);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    text-align: center;
    top: 20px;
    right: 45px;
    font-size: 36px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }