<div class="container-fluid">
  <div class="row">
    <h1>WHAT WOULD YOU FIND ON {{this.celebName}}'S ONLINE SHOPPING LIST</h1>
    <h2>TIME LEFT: {{this.drawingTimeLeft}}</h2>
    <div class="col-md-12">
      <div id="signature-pad" class="m-signature-pad">
        <div class="m-signature-pad-body">
          <signature-pad [options]="signaturePadOptions" id="signatureCanvas">

          </signature-pad>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="margin-bottom:50">
      <button class="btn btn-primary" id="button" (click)="drawComplete()">Save</button>
      <button class="btn btn-danger" id="button" (click)="drawClear()">Clear</button>
    </div>

  </div>
</div>