
.mytabs {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: center;
    height: 100%
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px 0px;
    background: #e2e2e2;
    font-weight: bold;
    width: 25%;
}


.mytabs .tab {
    width: 100%;
    padding: 20px 10%;
    background: rgb(214, 129, 31);
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: rgb(214, 129, 31);
}

.headshot {
    width: 300px;
    height: 300px;
    margin: 30px 30px 30px 0;
    float: left;
    object-fit: cover;
}

.tabtext{
    display: inline;
}

p{
    font-size: 20px;
}

.abouttext{
    margin: 25px;
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .headshot {
      width: 100%;
    }
  }