<h1>ABOUT US!</h1>
<p class="abouttext">Retail parody was dreamt of and created by Felix, Jason, Jordan and Tudor for our 2022 Personal Development module. Our project title was "Odd-One-Out Game", so we strove
    to create a game built off the success of many other games in the genre: fun interactivity, party environment specialist, easy to pick up and most importantly: funny!
</p>

<div class="mytabs">
    <input type="radio" id="tabfelix" name="mytabs" checked="checked">
    <label for="tabfelix">Felix</label>
    <div class="tab">
        <img src= "assets/Felix.jpg" class="headshot">
        <h2>Felix</h2>
        <div class="tabtext">
            <h3>Team:</h3>
            <p>Front End Website Development</p>
            <h3>About:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <h3>Links:</h3>
            <p ><a href="https://www.linkedin.com/in/felix-milan-0b327a145/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a></p>
        </div>
    </div>

    <input type="radio" id="tabjason" name="mytabs">
    <label for="tabjason">Jason</label>
    <div class="tab">
        <img src= "assets/Jason.jpg" class="headshot">
        <h2>Jason</h2>
        <div class="tabtext">
            <h3>Team:</h3>
            <p>Back End Website Development</p>
            <h3>About:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <h3>Links:</h3>
            <p ><a href="https://www.linkedin.com/in/jjfye/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a></p>
        </div>
    </div>

    <input type="radio" id="tabjordan" name="mytabs">
    <label for="tabjordan">Jordan</label>
    <div class="tab">
        <img src= "assets/Jordan.jpg" class="headshot">
        <h2>Jordan</h2>
        <div class="tabtext">
            <h3>Team:</h3>
            <p>Game Development</p>
            <h3>About:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <h3>Links:</h3>
            <p ><a href="" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a></p>
        </div>
    </div>

    <input type="radio" id="tabtudor" name="mytabs">
    <label for="tabtudor">Tudor</label>
    <div class="tab">
        <img src= "assets/Tudor.jpg" class="headshot">
        <h2>Tudor</h2>
        <div class="tabtext">
            <h3>Team:</h3>
            <p>Game Development</p>
            <h3>About:</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <h3>Links:</h3>
            <p ><a href="https://www.linkedin.com/in/tudor-calin-munteanu-625051144/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a></p>
        </div>
    </div>

  </div>