<div class="maincontent" style="max-width:2000px;margin-top:46px;margin-bottom:46px">
    <div class="logo-image">
      <img src="assets/OOOLOGO.svg" alt="logo" height="100px">
    </div>

    <div class="screentext">
        <!--NAME INPUT!!!!!!!--> <h1> WAS THE ODD ONE OUT!</h1>
        <h1>THEIR ITEM WAS MEANT FOR </h1> <!--NAME INPUT!!!!!!!--> 
    </div>

    <!-- The Drawing Output Section -->
    <div class="drawingoutput">
        <div class="squarelabel">
            <div class="square" id="square" name="square"></div> 
        </div>
        <hr class="linebreak">
        <h1>SCORES:</h1>
        <div class="scoreoutput">
            <div class="scoresquare" id="scoresquare" name="scoresquare"></div>
            <label class="label" for="square"> <!--NAME INPUT!!!--> </label> <!--SCORE INPUT!!!-->
            <div class="scoresquare" id="scoresquare" name="scoresquare"></div>
            <label class="label" for="square"><!--NAME INPUT!!!--></label> <!--SCORE INPUT!!!-->
            <div class="scoresquare" id="scoresquare" name="scoresquare"></div>
            <label class="label" for="square"><!--NAME INPUT!!!--></label> <!--SCORE INPUT!!!-->
            <div class="scoresquare" id="scoresquare" name="scoresquare"></div>
            <label class="label" for="square"><!--NAME INPUT!!!--></label> <!--SCORE INPUT!!!-->
            <div class="scoresquare" id="scoresquare" name="scoresquare"></div>
            <label class="label" for="square"><!--NAME INPUT!!!--></label> <!--SCORE INPUT!!!-->
            <div class="scoresquare" id="scoresquare" name="scoresquare"></div>
            <label class="label" for="square"><!--NAME INPUT!!!--></label> <!--SCORE INPUT!!!-->
            <div class="scoresquare" id="scoresquare" name="scoresquare"></div>
            <label class="label" for="square"><!--NAME INPUT!!!--></label> <!--SCORE INPUT!!!-->
            <div class="scoresquare" id="scoresquare" name="scoresquare"></div>
            <label class="label" for="square"><!--NAME INPUT!!!--></label> <!--SCORE INPUT!!!-->
        </div> 
    </div> 
</div>