<div class="maincontent" style="max-width:2000px;margin-top:46px;margin-bottom:46px">
    <div class="logo-image">
      <img src="assets/OOOLOGO.svg" alt="logo" width="10%">
    </div>
    <!-- The Host Form Section -->
    <form class="buttonsection" action="/action_page.php">
    <h2>WHICH ITEM DO YOU THINK IS THE ODD ONE OUT?</h2>
      <input type="button" class="button" value="ITEM 1"> <!--NAME INPUT!!!-->
      <input type="button" class="button" value="ITEM 2"> <!--NAME INPUT!!!-->
      <input type="button" class="button" value="ITEM 3"> <!--NAME INPUT!!!-->
      <input type="button" class="button" value="ITEM 4"> <!--NAME INPUT!!!-->
      <input type="button" class="button" value="ITEM 5"> <!--NAME INPUT!!!-->
      <input type="button" class="button" value="ITEM 6"> <!--NAME INPUT!!!-->
      <input type="button" class="button" value="ITEM 7"> <!--NAME INPUT!!!-->
      <input type="button" class="button" value="ITEM 8"> <!--NAME INPUT!!!-->
    </form>
</div>