<div class="maincontent" style="max-width:2000px;margin-top:46px;margin-bottom:46px">
    <div class="logo-image">
      <img src="assets/OOOLOGO.svg" alt="logo" height="100px">
    </div>
    <!-- The Host Form Section -->
    <form class="buttonsection" action="/action_page.php">
    <h2>WHICH ITEM DO YOU THINK IS THE ODD ONE OUT</h2>
      <input type="button" class="button" value="PLAYER 1">
      <input type="button" class="button" value="PLAYER 2">
      <input type="button" class="button" value="PLAYER 3">
      <input type="button" class="button" value="PLAYER 4">
      <input type="button" class="button" value="PLAYER 5">
      <input type="button" class="button" value="PLAYER 6">
      <input type="button" class="button" value="PLAYER 7">
      <input type="button" class="button" value="PLAYER 8">
    </form>
