<div class="maincontent" style="max-width:2000px;margin-top:46px;margin-bottom:100px">
    <div class="logo-image">
      <img src="assets/OOOLOGO.svg" alt="logo" height="200px">
    </div>

    <h1>GAME OVER, THANK YOU FOR PLAYING!</h1>
    <hr class="linebreak">

    <!-- Join Same Lobby -->
    <div class="lobbybuttons" action="/action_page.php">
        <h2>JOIN LOBBY AGAIN</h2>
        <input type="button" class="button" value="JOIN LOBBY">
    </div>

    <hr class="linebreak">

    <!-- Host New Game -->
    <div class="lobbybuttons" action="/action_page.php">
        <h2>HOST NEW GAME</h2>
        <input type="button" class="button" value="HOST ROOM">
    </div>
</div>