<div class="maincontent" style="max-width:2000px;margin-top:46px">
    <div class="logo-image">
      <img src="assets/OOOLOGO.svg" alt="logo" width="10%">

    <!-- Names input -->
    <form class="inputsection" action="/action_page.php">
        <!-- ADD TIMER !!!!!!!! -->
        <label class="label" for="name">WRITE NAMES:</label><br>
        <input type="text" id="name" [value]="celebName" (input)="setCelebName($event)" placeholder="WRITE NAMES HERE!"><br>
        <input type="button" class="button" value="SUBMIT NAME">
      </form> 
</div>