#name, #roomid{
    border: 20px 0px 20px;
}

.label{
    padding: 20px 0px 20px;
}

.maincontent{
    border: 50px 50px;
}

input[type=text] {
    padding: 12px 20px;
    margin: 5px 0 25px 0;
    box-sizing: border-box;
    border: 4px solid rgb(214, 129, 31);;
    border-radius: 4px;
  }