<div class="maincontent" style="max-width:2000px;margin-top:46px;margin-bottom:46px">
    <div class="logo-image">
      <img src="assets/OOOLOGO.svg" alt="logo" width="20%">
    </div>
    <!-- The Host Form Section -->
    <form class="formsection">
    <h2>HOST GAME</h2>
      <input type="button" class="button" value="HOST ROOM" (click)="hostRoom()">
    </form>

    <hr class="linebreak">

    <!-- The Player Form Section -->
    <form class="formsection">
        <h2>JOIN GAME</h2>
        <label class="label" for="name">NAME:</label><br>
        <input type="text" id="nickname" name="{{nickname}}" placeholder="ENTER NAME"><br>
        <label class="label" for="roomid">UNIQUE ROOM ID:</label><br>
        <input type="text" id="lobbyCode" name="{{lobbyCode}}" placeholder="ENTER ROOM ID"><br><br>
        <input type="button" class="button" value="JOIN ROOM" (click)="addPlayer(nickname, lobbyCode)">
    </form> 
</div>