nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(226, 118, 45);
}
nav li{
	display: inline-block;
	width: 15%;
	float: center;
}
li a {
    display: block;
    color: maroon;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
  }
li a:hover {
    background-color: silver;
  }