body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
  }
  
.navbar {
    overflow: hidden;
    background-color: rgb(214, 129, 31);
    height: 100px;
    display: inline-block;
  }
  
.navbar a {
    float: left;
    font-size: 36px;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

  .pagebtn{
      float: left;
      color: white;
  }

  .logo-image{
      position: relative;
      padding: 10px;
  }

  .formsection{
      padding: 20px 0px 20px;
  }

  footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgb(214, 129, 31);

  }

  #name, #roomid{
    border: 20px 0px 20px;
  }

  .label{
    padding: 20px 0px 20px;
  }
