body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
  }
  
.navbar {
    overflow: hidden;
    background-color: rgb(214, 129, 31);
    max-height: 10px;
  }
  
.navbar a {
    float: none;
    font-size: 36px;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 36px;  
    border: none;
    outline: none;
    color: #f9f9f9;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(141, 86, 15);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(141, 86, 15);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    font-size: 20px; 
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .logo-image{
      display: inline-block;
      height: 100px;
  }
