<div class="maincontent" style="max-width:2000px;margin-top:46px;margin-bottom:46px">
    <div class="logo-image">
      <img src="assets/OOOLOGO.svg" alt="logo" width="10%">
    </div>
    <!-- The Host Form Section -->
    <form class="buttonsection" action="/action_page.php">
    <h2>WELCOME TO THE LOBBY!</h2>
      <button class="button" disabled>PLAYER</button> <!--NAME INPUT!!!-->
      <button class="button" disabled>PLAYER</button> <!--NAME INPUT!!!-->
      <button class="button" disabled>PLAYER</button> <!--NAME INPUT!!!-->
      <button class="button" disabled>PLAYER</button> <!--NAME INPUT!!!-->
      <button class="button" disabled>PLAYER</button> <!--NAME INPUT!!!-->
      <button class="button" disabled>PLAYER</button> <!--NAME INPUT!!!-->
      <button class="button" disabled>PLAYER</button> <!--NAME INPUT!!!-->
      <button class="button" disabled>PLAYER</button> <!--NAME INPUT!!!-->
    </form>
</div>